@import "./lib/reset.css";
/* mixin'Ñ‹ */

@import "./bem-blocks/mixins.css";
/* main code */

/* @import "./bem-blocks/header.css" ;
@import "./bem-blocks/bem-content.css" ;
@import "./bem-blocks/footer.css" ; */

/* links, btns */

/* @import "./bem-blocks/bem-btn.css" ; */

/* vars */

@import './bem-blocks/variables.css';
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0;
    font-family: $font;
    font-size: 16px;
    min-height: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
}

.site__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
    margin-top: 15px;
}

.label {
    color: white;
    background: black;
}

.center {
    .invalid {
        .error {
            animation: shakeError 0.6s ease-in-out;
            label {
                color: crimson;
            }
            input {
                border-color: crimson;
            }
            .msg {
                display: block;
            }
        }
    }
    .invalid__message {
        margin-top: 25px;
        font-size: 16px;
        text-decoration: underline;
    }
}

@keyframes shakeError {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-15px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}